---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://dwj199mwkel52.cloudfront.net/assets/banners/banner-home-e8219102712eef730f69030f694a3a6f26082799a6384be7dbd0715ba1566c3e.jpg');">
  <div class="banner-content">
    <h1>Changez de vie</h1>
    <p>Apprenez à coder</p>
    <a class="btn btn-primary btn-lg">C'est parti!</a>
  </div>
</div>

<div class="container">
  <h1>Où hacker ?</h1>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= flat.img_path %>);">
          <div class="card-category"><%= "#{flat.rating} / 10" %></div>
          <div class="card-description">
            <h2><%= flat.city_name%></h2>
           <p><%=flat.description %></p>
          </div>
            <img class="card-user" src="<%="https://kitt.lewagon.com/placeholder/users/#{owner}"%>">
            <a class="card-link" href="#" ></a>
          </div>
          <div class="card-informations">
             <% if flat.wifi == true %>
              <i class="fa fa-wifi"></i>
             <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>

